.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
runtime/audio/*
runtime/sessions/*
!runtime/audio/.gitkeep
!runtime/sessions/.gitkeep
frontend/node_modules/
frontend/dist/
*.log

models/LLMs/
models/STTs/
models/TTSs/

sessions/

runtime/benchmarks/.mpeg/